@import 'css';

.link {
    font-size: 16px;
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    width: 80%;
    height: 80px;
    border-radius: 20px;
}

@media \0screen\,screen\9 {

    //仅ie9-支持
    .link {
        behavior: url(ie-css3.htc);
    }

    body {
        background: green;
    }
}

span:hover {
    color: red;
}